#item-1{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)),url('Images/2.png');
   grid-column: auto/span 3;
   grid-row: auto/span 3;
   width: 100%;
   object-fit: cover;
   height: 330px;
   border-radius: 12px;
   background-size: cover;
}
#item-2{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)),url('Images/3.png');
    grid-column: auto/span 3;
    grid-row: auto/span 3;
    width: 100%;
    object-fit: cover;
    height: 330px;
    border-radius: 12px;
    background-size: cover;
}
#item-3{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)),url('Images/4.png');
    grid-column: auto/span 6;
    grid-row: auto/span 4;
    height: 450px;
    object-fit: cover;
    border-radius: 12px;
    background-size: cover;
}
#program-id{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-gap: 1rem;
    justify-content: center;
    align-items: center;
    height: 40%;
    
}
@media screen and (max-width: 600px) {
    #program-id{
        display: flex;
        flex-direction: column;
        width: 90%;
        object-fit: cover;
        background-size: cover;
       
    }
    #item-1{
        height: 240px;
    }
    #item-2{
        height: 240px;
    }
    #item-3{
        height: 240px;
    }
}